<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html
        PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:p="http://primefaces.org/ui"
      xml:lang="en" lang="en">
<h:head>
    <title>#{i18n['main.applicationName']}</title>
    <meta http-equiv="refresh" content="#{facesContext.externalContext.sessionMaxInactiveInterval};url=#{request.contextPath}"/>
</h:head>
<h:body>

    <h:outputStylesheet name="css/style.css" />

    <div class="page">

        <div id="header" class="page-content">
            <ui:include src="/views/header.xhtml"/>
        </div>

        <div class="page-content">
            <p:panel id="content">
                <ui:insert name="content"/>
            </p:panel>
        </div>

    </div>

    <p:confirmDialog global="true" showEffect="fade" hideEffect="explode">
        <p:commandButton value="#{i18n['main.yes']}" type="button" styleClass="ui-confirmdialog-yes" icon="fa fa-fw fa-check small-icon"/>
        <p:commandButton value="#{i18n['main.no']}" type="button" styleClass="ui-confirmdialog-no" icon="fa fa-fw fa-close small-icon"/>
    </p:confirmDialog>

</h:body>
</html>