html, body {
    height: 100%;
}

body {
    background: #1885cd;
    margin: 0;
    font-size: 19px;
    color: #105989;
}

.ui-panelgrid > * > tr,
.ui-panelgrid .ui-panelgrid-cell {
    border: none;
    color: #105989;
    font-weight: bold;
}

.ui-inputfield,
.ui-widget-content .ui-inputfield {
    color: #105989;
    border-color: #cbdbe6;
}

.flex-container {
    height: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

#login-panel {
    width: auto;
    text-align: center;
    padding: 26px 16px;
}

button.ui-button.ui-state-default {
    background: #2399e5 url("#{resource['images/blue_gradient.png']}") 50% 50% repeat;
}

button.ui-button.ui-state-hover {
    background: #1576b7;
}

#login-button {
    margin-top: 14px;
    width: 92%;
    padding: 4px 0;
}

#error-message{
    font-weight: 600;
    color: #ff6666;
    margin-bottom: 14px;
}