hr {
    border-color: #a5d4f3;
}

.settings-panel {
    text-align: center;
    margin: 24px auto;
}

.settings-button{
    width: 274px;
    margin-top: 6px;
    padding: 3px 0;
}

.settings-input{
    width: 260px;
}