body {
    background: #1885cd;
}

.page {
    width: 100%
}

.page-content {
    width: 65%;
    display: table;
    margin: 0 auto;
}

/*default at primefaces: padding: .5em 1em; */
.ui-panel .ui-panel-content {
    padding: 0;
}

.ui-icon.small-icon {
    overflow: visible;
    top: 13px;
    left: 8px;
    font-size: 1.15em;
}

#header {
    margin-top: 24px;
    font-size: 1.12em;
    color: #1576b7
}

#error {
    text-align: center;
    margin: 64px 0;
    font-size: 8em;
    font-weight: 600;
    color: #ff4d4d;
}

.header-button {
    margin: 3px;
}

#content {
    font-size: 1.05em;
    padding: 18px;
}

.ui-menuitem-text {
    margin-left: 5px;
}

.add-panel {
    width: 100%;
    text-align: right;
}

.add-button {
    margin: 10px 26px 0 0;
}

.table-icon {
    width: 30px;
    height: 30px;
    padding: 6px 8px 2px 8px;
}

.icon-column {
    text-align: center;
    width: 36px;
}

.double-icon-column {
    text-align: center;
    width: 90px;
}

.ui-datatable {
    background: #fff;
    overflow: hidden;
    border: 1px solid #48a9ea;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.ui-datatable th.ui-state-default {
    font-size: 1.13em;
    font-weight: 600;
    color: #ffffff;
    padding: 6px;
    background-color: #2399e5;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #1885cd), color-stop(1, #329ee7));
    background: -moz-linear-gradient(center top, #1885cd 5%, #329ee7 100%);
    border-color: #48a9ea;
}

.ui-datatable table tbody td {
    padding: 0;
    color: #1367a0;
    border-color: #48a9ea;
    border-left: 1px solid #E1EEF4;
}

.ui-datatable-odd {
    background: none repeat scroll 0 0 #e8f4fc;
}

.ui-datatable table tbody td:first-child {
    border-left: none;
}

.ui-datatable table tbody tr:last-child td {
    border-bottom: none;
}

.table-column {
    padding: 0 16px;
}

.credentials-column {
    color: #1576b7;
    font-size: 1.12em;
    font-weight: 600;
}

.ui-panelgrid > * > tr,
.ui-panelgrid .ui-panelgrid-cell {
    border: none;
}

.ui-messages-info {
    margin: 0 0 16px 0;
}

.ui-messages-warn, .ui-messages-error, .ui-messages-fatal {
    margin: 0;
}

.ui-growl-info, .ui-messages .ui-messages-info, .ui-message.ui-message-info {
    background-color: #64d098;
    border-color: #64d098;
}

.edit-panel {
    padding: 0 12px 16px 12px;
}

.edit-panel-name {
    font-size: 1.6em;
    font-weight: 600
}

.edit-panel-id {
    font-size: 1.12em;
    font-weight: 300
}

.dialog-buttons-panel {
    text-align: right;
    margin-top: 12px;
}

.dialog-cancel-button {
    margin-right: 5px;
}

button.ui-button.ui-state-default {
    background: #2399e5 url("#{resource['images/blue_gradient.png']}") 50% 50% repeat;
}

button.ui-button.ui-state-hover {
    background: #1576b7;
}

button.ui-button.ui-state-default.dialog-add-button {
    border-color: #8adbb1;
    background: #64d098 url("#{resource['images/green_gradient.png']}") 50% 50% repeat;
}

button.ui-button.ui-state-hover.dialog-add-button {
    background: #2e9c63;
}

.ui-confirm-dialog-message {
    font-size: 1.12em;
    margin-right: 14px;
    margin-bottom: 10px;
}

.ui-dialog .ui-dialog-buttonpane {
    font-size: 1.12em;
    text-align: center;
    margin: 0;
    padding: 4px 0;
}

.ui-datatable-empty-message > td {
    text-align: center;
    padding: 12px !important;
    font-size: 1.15em;
}

.edit-panel {
    margin-bottom: 16px;
}

.edit-panel td {
    color: #1576b7;
}

.ui-widget-content.ui-datatable-selectable.ui-state-hover {
    background-color: #bbdff6;
}

.ui-widget-content.ui-datatable-selectable.ui-state-highlight {
    background-color: #a5d4f3;
}

.ui-button-icon-only .ui-icon {
    left: .5em;
    margin: 0;
}

/*OPTIONS MENU BUTTON*/
.ui-menu {
    width: auto;
}

.ui-menu .ui-menuitem-link {
    font-weight: bold;
}

.option-button,
.ui-widget-content a {
    font-size: 1.18em;
    color: #1367a0;
}

/*BREADCRUMB MENU*/
.horizontal {
    float: left;
    font-size: 1.18em;
}

.ui-datalist-data {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.ui-datalist-content {
    border: none;
}

.door-title {
    margin: 32px 16px 16px 16px;
}

.door-title-text {
    font-size: 1.28em;
    font-weight: bold;
    color: #0b3b5b;
}

.door-empty-message {
    width: 100%;
    color: #1367a0;
    text-align: center
}