<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html
        PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:f="http://xmlns.jcp.org/jsf/core"
>
<ui:composition template="/template/master-page.xhtml">

    <ui:define name="content">

        <p:panelGrid id="roleData" styleClass="edit-panel">
            <p:row>
                <p:column styleClass="edit-panel-name">
                    <h:outputText value="#{editRoleModel.role.name}"/>
                </p:column>
                <p:column>
                    <p:commandLink onclick="PF('editDialog').show();" update="editPanelForm:editPanel">
                        <p:graphicImage library="images" name="edit-icon.png" styleClass="table-icon"
                                        onmouseover="document.getElementById(this.id).src='/javax.faces.resource/edit-icon-hover.png.xhtml?ln=images'"
                                        onmouseout="document.getElementById(this.id).src='/javax.faces.resource/edit-icon.png.xhtml?ln=images'"/>
                    </p:commandLink>
                </p:column>
            </p:row>
        </p:panelGrid>


        <h:form id="breadCrumbForm">
            <div style="height: 30px;">
                <p:commandLink action="#{editRoleModel.openRootGroup}" update="groupListForm doorListForm breadCrumbForm" class="horizontal"
                               disabled="#{empty editRoleModel.breadCrumbModel}">
                    <p:graphicImage library="images" name="company-icon.png"/>
                </p:commandLink>
                <p:dataList itemType="none" value="#{editRoleModel.breadCrumbModel}" var="fold" emptyMessage="">
                    <h:outputText class="horizontal" value=">" style="margin: 0 4px;"/>
                    <p:commandLink value="#{fold.name}" class="horizontal" action="#{editRoleModel.openGroup(fold)}"
                                   disabled="#{editRoleModel.disableFold(fold)}"
                                   update="groupListForm doorListForm breadCrumbForm"
                                   style="font-size: 1.18em; font-weight: bold"/>
                </p:dataList>
            </div>

            <ui:fragment rendered="#{empty editRoleModel.currentTierGroups and empty editRoleModel.currentTierRooms}">
                <div class="door-empty-message">
                    <h2>#{i18n['main.table_empty_message']}</h2>
                </div>
            </ui:fragment>
        </h:form>

        <h:form id="groupListForm">
            <ui:fragment id="groupList" rendered="#{not empty editRoleModel.currentTierGroups}">
                <div class="door-title">
                    <h:outputText value="#{i18n['door.group_title']}" styleClass="door-title-text"/>
                </div>
                <p:dataTable value="#{editRoleModel.currentTierGroups}" var="group"
                             emptyMessage="#{i18n['main.table_empty_message']}"
                             selectionMode="single" rowKey="#{group}">
                    <p:ajax event="rowSelect" listener="#{editRoleModel.onRowSelect}"
                            update="groupListForm doorListForm breadCrumbForm"/>

                    <p:column filterBy="#{group.name}">
                        <h:outputText value="#{group.name}" styleClass="table-column credentials-column"/>
                    </p:column>
                    <p:column styleClass="double-icon-column">

                        <ui:param name="groupIsAdded" value="#{editRoleModel.groupIsAdded(group)}" />

                        <ui:fragment rendered="#{groupIsAdded}">
                            <p:commandLink actionListener="#{editRoleModel.removeGroup(group)}" update="groupListForm">
                                <p:graphicImage library="images" name="checked.png" styleClass="table-icon"
                                                onmouseover="document.getElementById(this.id).src='/javax.faces.resource/checked-hover.png.xhtml?ln=images'"
                                                onmouseout="document.getElementById(this.id).src='/javax.faces.resource/checked.png.xhtml?ln=images'"/>
                            </p:commandLink>
                        </ui:fragment>
                        <ui:fragment rendered="#{not groupIsAdded}">
                            <p:commandLink actionListener="#{editRoleModel.addGroup(group)}" update="groupListForm">
                                <p:graphicImage library="images" name="unchecked.png" styleClass="table-icon"
                                                onmouseover="document.getElementById(this.id).src='/javax.faces.resource/unchecked-hover.png.xhtml?ln=images'"
                                                onmouseout="document.getElementById(this.id).src='/javax.faces.resource/unchecked.png.xhtml?ln=images'"/>
                            </p:commandLink>
                        </ui:fragment>
                    </p:column>
                </p:dataTable>
            </ui:fragment>
        </h:form>

        <h:form id="doorListForm">
            <ui:fragment rendered="#{not empty editRoleModel.currentTierRooms}">
                <div class="door-title">
                    <h:outputText value="#{i18n['door.doors_title']}" styleClass="door-title-text"/>
                </div>
                <p:dataTable value="#{editRoleModel.currentTierRooms}" var="door"
                             emptyMessage="#{i18n['main.table_empty_message']}">

                    <p:column headerText="#{i18n['door.door_id']}" filterBy="#{door.lockId}" style="width: 30%;">
                        <h:outputText value="#{door.lockId}" styleClass="table-column"/>
                    </p:column>
                    <p:column headerText="#{i18n['door.door_name']}" filterBy="#{door.name}">
                        <h:outputText value="#{door.name}" styleClass="table-column credentials-column"/>
                    </p:column>
                    <p:column styleClass="double-icon-column">

                        <ui:param name="doorIsAdded" value="#{editRoleModel.doorIsAdded(door)}" />

                        <ui:fragment rendered="#{doorIsAdded}">
                            <p:commandLink actionListener="#{editRoleModel.removeRoom(door)}" update="doorListForm">
                                <p:graphicImage library="images" name="checked.png" styleClass="table-icon"
                                                onmouseover="document.getElementById(this.id).src='/javax.faces.resource/checked-hover.png.xhtml?ln=images'"
                                                onmouseout="document.getElementById(this.id).src='/javax.faces.resource/checked.png.xhtml?ln=images'"/>
                            </p:commandLink>
                        </ui:fragment>
                        <ui:fragment rendered="#{not doorIsAdded}">
                            <p:commandLink actionListener="#{editRoleModel.addRoom(door)}" update="doorListForm">
                                <p:graphicImage library="images" name="unchecked.png" styleClass="table-icon"
                                                onmouseover="document.getElementById(this.id).src='/javax.faces.resource/unchecked-hover.png.xhtml?ln=images'"
                                                onmouseout="document.getElementById(this.id).src='/javax.faces.resource/unchecked.png.xhtml?ln=images'"/>
                            </p:commandLink>
                        </ui:fragment>
                    </p:column>
                </p:dataTable>
            </ui:fragment>
        </h:form>

        <p:dialog header="#{i18n['edit_role.edit_dialog_header']}" widgetVar="editDialog" resizable="false"
                  draggable="false" modal="true" closable="false">
            <h:form id="editPanelForm">
                <div class="edit-panel">
                    <p:panelGrid id="editPanel">
                        <p:row>
                            <p:column colspan="2">
                                <p:messages for="newRoleName" display="text"/>
                            </p:column>
                        </p:row>
                        <p:row>
                            <p:column>
                                <p:outputLabel for="newRoleName" value="#{i18n['roles.role_name']}:"/>
                            </p:column>
                            <p:column>
                                <p:inputText id="newRoleName" value="#{editRoleModel.role.name}" required="true">
                                    <f:validateLength maximum="36"/>
                                </p:inputText>
                            </p:column>
                        </p:row>
                    </p:panelGrid>

                    <div class="dialog-buttons-panel">
                        <p:commandButton value="#{i18n['main.cancel']}"
                                         icon="fa fa-fw fa-close small-icon"
                                         process="@this"
                                         oncomplete="PF('editDialog').hide();" styleClass="dialog-cancel-button">
                            <p:resetInput target="editPanelForm"/>
                        </p:commandButton>
                        <p:commandButton value="#{i18n['main.save']}" actionListener="#{editRoleModel.saveRole()}"
                                         update="editPanel roleData"
                                         icon="fa fa-fw fa-check small-icon"/>
                    </div>
                </div>
            </h:form>
        </p:dialog>

    </ui:define>

</ui:composition>
</html>