<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xml:lang="en" lang="en">
<h:head>
    <title>#{i18n['main.applicationName']}</title>
</h:head>
<h:body>

    <h:outputStylesheet name="css/style.css" />

    <div class="page">

        <div class="page-content">
            <p:panel id="content">
                <div id="error">
                    <h:outputText value= "#{errorController.statusCode}"/>
                </div>
            </p:panel>
        </div>

    </div>


</h:body>
</html>