<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html
        PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui" xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets">

<h:form>

    <p:toolbar>
        <f:facet name="left">
            <ui:insert name="header-buttons">
                <p:commandButton value="#{i18n['main.doors']}" icon="fa fa-fw fa-unlock-alt small-icon"
                                 styleClass="header-button" action="spaces"/>
                <p:commandButton value="#{i18n['main.users']}" icon="fa fa-fw fa-user small-icon"
                                 styleClass="header-button" action="users"/>
                <span class="ui-separator">
                    <span class="ui-icon ui-icon-grip-dotted-vertical"/>
                </span>
                <p:commandButton value="#{i18n['main.roles']}" icon="fa fa-fw fa-key small-icon"
                                 styleClass="header-button" action="roles"/>
            </ui:insert>
        </f:facet>

        <f:facet name="right">
            <p:menuButton value="#{i18n['main.options']}" styleClass="header-button">
                <p:menuitem value="#{i18n['main.credentials']}" action="settings" styleClass="option-button"/>
                <p:menuitem value="#{i18n['main.logs']}" ajax="false" styleClass="option-button">
                    <p:fileDownload value="#{settingController.logsFile}"/>
                </p:menuitem>
            </p:menuButton>

            <p:commandButton value="#{i18n['main.logout']}" icon="fa fa-fw fa-sign-out small-icon"
                             styleClass="header-button" action="#{authController.logout}"/>
        </f:facet>

    </p:toolbar>

</h:form>


</html>