<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html
        PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xml:lang="en" lang="en">
<h:head>
    <title>#{i18n['main.applicationName']}</title>
</h:head>
<h:body>

    <h:outputStylesheet name="css/login.css" />

    <div class="flex-container">

        <p:panel id="login-panel">
            <p:fragment rendered="#{not empty param.error}">
                <div id="error-message">#{i18n['login.bad_credentials']}</div>
            </p:fragment>
            <h:form id="loginForm" prependId="false">
                <p:panelGrid columns="1">
                    <p:inputText id="login" placeholder="#{i18n['login.login_placeholder']}"/>
                    <p:password id="password" placeholder="#{i18n['login.password_placeholder']}"/>
                </p:panelGrid>

                <p:commandButton id="login-button" action="#{authController.login}" value="#{i18n['login.login_button']}" update="@form" ajax="false" />
            </h:form>
        </p:panel>
    </div>

</h:body>
</html>