<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html
        PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:f="http://xmlns.jcp.org/jsf/core">
<ui:composition template="/template/master-page.xhtml">

    <ui:define name="header-buttons">
        <p:commandButton value="#{i18n['main.doors']}" icon="fa fa-fw fa-unlock-alt small-icon"
                         styleClass="header-button" action="spaces"/>
        <p:commandButton value="#{i18n['main.users']}" icon="fa fa-fw fa-user small-icon"
                         styleClass="header-button" action="users"/>
        <span class="ui-separator">
                    <span class="ui-icon ui-icon-grip-dotted-vertical"/>
                </span>
        <p:commandButton value="#{i18n['main.roles']}" icon="fa fa-fw fa-key small-icon"
                         styleClass="header-button" action="roles" disabled="true"/>
    </ui:define>

    <ui:define name="content">
        <p:messages for="rolesMessages" showDetail="true" autoUpdate="true" closable="true"/>

        <h:form id="rolesListForm">
            <p:dataTable id="rolesList" value="#{rolesModel.roles}" var="role"
                         emptyMessage="#{i18n['main.table_empty_message']}"
                         selectionMode="single" rowKey="#{role}">
                <p:ajax event="rowSelect" listener="#{rolesModel.onRowSelect}"/>

                <p:column filterBy="#{role.name}">
                    <h:outputText value="#{role.name}" styleClass="table-column credentials-column"/>
                </p:column>
                <p:column styleClass="double-icon-column">
                    <p:commandLink actionListener="#{rolesModel.deleteRole(role)}" update="rolesList">
                        <p:graphicImage library="images" name="remove-icon.png" styleClass="table-icon"
                                        onmouseover="document.getElementById(this.id).src='/javax.faces.resource/remove-icon-hover.png.xhtml?ln=images'"
                                        onmouseout="document.getElementById(this.id).src='/javax.faces.resource/remove-icon.png.xhtml?ln=images'"/>
                        <p:confirm header="Potwierdzenie" message="#{i18n['roles.remove_message']} #{role.name}? "
                                   icon="ui-icon-blank"/>
                    </p:commandLink>
                </p:column>
            </p:dataTable>

            <div class="add-panel">
                <p:commandLink onclick="PF('addDialog').show();" update="addPanelForm:addPanel">
                    <p:graphicImage styleClass="add-button" library="images" name="add-icon.png"
                                    onmouseover="document.getElementById(this.id).src='/javax.faces.resource/add-icon-hover.png.xhtml?ln=images'"
                                    onmouseout="document.getElementById(this.id).src='/javax.faces.resource/add-icon.png.xhtml?ln=images'"/>
                </p:commandLink>
            </div>
        </h:form>


        <p:dialog header="#{i18n['roles.add_dialog_header']}" widgetVar="addDialog" resizable="false" draggable="false"
                  modal="true" closable="false">
            <h:form id="addPanelForm">
                <div class="edit-panel">
                    <p:panelGrid id="addPanel">
                        <p:row>
                            <p:column colspan="2"><p:messages for="newRoleName" showIcon="false"/></p:column>
                        </p:row>
                        <p:row>
                            <p:column><p:outputLabel for="newRoleName" value="#{i18n['roles.role_name']}:"/></p:column>
                            <p:column><p:inputText id="newRoleName" value="#{rolesModel.newRole.name}" required="true">
                                <f:validateLength maximum="36"/>
                            </p:inputText></p:column>
                        </p:row>
                    </p:panelGrid>

                    <div class="dialog-buttons-panel">
                        <p:commandButton value="#{i18n['main.cancel']}"
                                         icon="fa fa-fw fa-close small-icon"
                                         process="@this"
                                         oncomplete="PF('addDialog').hide();" styleClass="dialog-cancel-button">
                            <p:resetInput target="addPanelForm"/>
                        </p:commandButton>
                        <p:commandButton value="#{i18n['main.add']}" actionListener="#{rolesModel.addRole()}"
                                         update="rolesListForm:rolesList addPanel"
                                         icon="fa fa-fw fa-plus small-icon" styleClass="dialog-add-button"/>
                    </div>
                </div>
            </h:form>
        </p:dialog>

    </ui:define>

</ui:composition>
</html>