<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html
        PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:f="http://xmlns.jcp.org/jsf/core">
<ui:composition template="/template/master-page.xhtml">

    <ui:define name="content">
        <h:outputStylesheet name="css/settings.css"/>

        <p:messages for="settingsMessages" showDetail="true" closable="true" autoUpdate="true" />

        <h:form id="change-login-form">
            <p:panelGrid columns="1" styleClass="settings-panel">
                <p:messages for="new-login" autoUpdate="true"/>
                <p:inputText id="new-login" placeholder="Nowy login" value="#{settingModel.newLogin}" styleClass="settings-input">
                    <f:validateLength minimum="5"/>
                </p:inputText>
                <p:messages for="change-login-password" autoUpdate="true"/>
                <p:password id="change-login-password" placeholder="Hasło" value="#{settingModel.password}" styleClass="settings-input"/>
                <p:commandButton action="#{settingModel.changeLogin()}" value="#{i18n['settings.change_login']}" update="change-login-form" styleClass="settings-button"/>
            </p:panelGrid>
        </h:form>

        <hr/>

        <h:form id="change-password-form">
            <p:panelGrid columns="1" styleClass="settings-panel">
                <p:messages for="old-password" autoUpdate="true"/>
                <p:password id="old-password" placeholder="Stare hasło" value="#{settingModel.password}" styleClass="settings-input"/>
                <p:messages for="new-password" autoUpdate="true"/>
                <p:password id="new-password" placeholder="Nowe hasło" value="#{settingModel.newPassword}" styleClass="settings-input">
                    <f:validateLength minimum="5"/>
                </p:password>
                <p:messages for="new-password-repeat" autoUpdate="true"/>
                <p:password id="new-password-repeat" placeholder="Powtórz hasło" value="#{settingModel.newPasswordRepeated}" styleClass="settings-input"/>
                <p:commandButton action="#{settingModel.changePassword()}" value="#{i18n['settings.change_password']}" update="change-password-form" styleClass="settings-button"/>
            </p:panelGrid>
        </h:form>

    </ui:define>

</ui:composition>
</html>