<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html
        PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:f="http://xmlns.jcp.org/jsf/core">
<ui:composition template="/template/master-page.xhtml">

    <ui:define name="header-buttons">
        <p:commandButton value="#{i18n['main.doors']}" icon="fa fa-fw fa-unlock-alt small-icon"
                         styleClass="header-button" action="spaces" disabled="true"/>
        <p:commandButton value="#{i18n['main.users']}" icon="fa fa-fw fa-user small-icon"
                         styleClass="header-button" action="users"/>
        <span class="ui-separator">
            <span class="ui-icon ui-icon-grip-dotted-vertical"/>
        </span>
        <p:commandButton value="#{i18n['main.roles']}" icon="fa fa-fw fa-key small-icon"
                         styleClass="header-button" action="roles"/>
    </ui:define>

    <ui:define name="content">

        #{spacesModel.currentTierGroup.name}

        <p:messages for="doorMessages" showDetail="true" closable="true" autoUpdate="true"/>

        <h:form id="breadCrumbForm">
            <div style="height: 30px;">
                <p:commandLink action="spaces" update="groupListForm doorListForm breadCrumbForm" class="horizontal"
                               disabled="#{empty spacesModel.breadCrumbModel}">
                    <p:graphicImage library="images" name="company-icon.png"/>
                </p:commandLink>
                <p:dataList itemType="none" value="#{spacesModel.breadCrumbModel}" var="fold" emptyMessage="">
                    <h:outputText class="horizontal" value=">" style="margin: 0 4px;"/>
                    <p:commandLink value="#{fold.name}" class="horizontal" action="#{spacesModel.openGroup(fold)}"
                                   disabled="#{spacesModel.disableFold(fold)}"
                                   update="groupListForm doorListForm breadCrumbForm"
                                   style="font-size: 1.18em; font-weight: bold"/>
                </p:dataList>
            </div>

            <ui:fragment rendered="#{empty spacesModel.currentTierGroups and empty spacesModel.currentTierRooms}">
                <div class="door-empty-message">
                    <h2>#{i18n['main.table_empty_message']}</h2>
                </div>
            </ui:fragment>
        </h:form>

        <h:form id="groupListForm">
            <ui:fragment id="groupList" rendered="#{not empty spacesModel.currentTierGroups}">
                <div class="door-title">
                    <h:outputText value="#{i18n['door.group_title']}" styleClass="door-title-text"/>
                </div>
                <p:dataTable value="#{spacesModel.currentTierGroups}" var="group"
                             emptyMessage="#{i18n['main.table_empty_message']}"
                             selectionMode="single" rowKey="#{group}">
                    <p:ajax event="rowSelect" listener="#{spacesModel.onRowSelect}"
                            update="groupListForm doorListForm breadCrumbForm"/>

                    <p:column filterBy="#{group.name}">
                        <h:outputText value="#{group.name}" styleClass="table-column credentials-column"/>
                    </p:column>
                    <p:column styleClass="double-icon-column">
                        <p:commandLink actionListener="#{spacesModel.editGroup(group)}"
                                       update="editGroupForm:editGroupPanel">
                            <p:graphicImage library="images" name="edit-icon.png" styleClass="table-icon"
                                            onmouseover="document.getElementById(this.id).src='/javax.faces.resource/edit-icon-hover.png.xhtml?ln=images'"
                                            onmouseout="document.getElementById(this.id).src='/javax.faces.resource/edit-icon.png.xhtml?ln=images'"/>
                        </p:commandLink>
                        <p:commandLink actionListener="#{spacesModel.deleteGroup(group)}"
                                       update="groupListForm breadCrumbForm">
                            <p:graphicImage library="images" name="remove-icon.png" styleClass="table-icon"
                                            onmouseover="document.getElementById(this.id).src='/javax.faces.resource/remove-icon-hover.png.xhtml?ln=images'"
                                            onmouseout="document.getElementById(this.id).src='/javax.faces.resource/remove-icon.png.xhtml?ln=images'"/>
                            <p:confirm header="#{i18n['main.confirmation']}"
                                       message="#{i18n['door.remove_message']} #{group.name}? "
                                       icon="ui-icon-blank"/>
                        </p:commandLink>
                    </p:column>
                </p:dataTable>
            </ui:fragment>
        </h:form>

        <h:form id="doorListForm">
            <ui:fragment rendered="#{not empty spacesModel.currentTierRooms}">
                <div class="door-title">
                    <h:outputText value="#{i18n['door.doors_title']}" styleClass="door-title-text"/>
                </div>
                <p:dataTable value="#{spacesModel.currentTierRooms}" var="door"
                             emptyMessage="#{i18n['main.table_empty_message']}">

                    <p:column headerText="#{i18n['door.door_id']}" filterBy="#{door.lockId}" style="width: 30%;">
                        <h:outputText value="#{door.lockId}" styleClass="table-column"/>
                    </p:column>
                    <p:column headerText="#{i18n['door.door_name']}" filterBy="#{door.name}">
                        <h:outputText value="#{door.name}" styleClass="table-column credentials-column"/>
                    </p:column>
                    <p:column styleClass="double-icon-column">
                        <p:commandLink actionListener="#{spacesModel.editRoom(door)}"
                                       update="editRoomForm:editRoomPanel">
                            <p:graphicImage library="images" name="edit-icon.png" styleClass="table-icon"
                                            onmouseover="document.getElementById(this.id).src='/javax.faces.resource/edit-icon-hover.png.xhtml?ln=images'"
                                            onmouseout="document.getElementById(this.id).src='/javax.faces.resource/edit-icon.png.xhtml?ln=images'"/>
                        </p:commandLink>
                        <p:commandLink actionListener="#{spacesModel.deleteRoom(door)}"
                                       update="doorListForm breadCrumbForm">
                            <p:graphicImage library="images" name="remove-icon.png" styleClass="table-icon"
                                            onmouseover="document.getElementById(this.id).src='/javax.faces.resource/remove-icon-hover.png.xhtml?ln=images'"
                                            onmouseout="document.getElementById(this.id).src='/javax.faces.resource/remove-icon.png.xhtml?ln=images'"/>
                            <p:confirm header="#{i18n['main.confirmation']}"
                                       message="#{i18n['door.remove_message']} #{door.name}? "
                                       icon="ui-icon-blank"/>
                        </p:commandLink>
                    </p:column>
                </p:dataTable>
            </ui:fragment>
        </h:form>

        <h:form>
            <div class="add-panel">
                <p:commandLink onclick="PF('addDialog').show();" update="addPanelForm:addPanel">
                    <p:graphicImage styleClass="add-button" library="images" name="add-icon.png"
                                    onmouseover="document.getElementById(this.id).src='/javax.faces.resource/add-icon-hover.png.xhtml?ln=images'"
                                    onmouseout="document.getElementById(this.id).src='/javax.faces.resource/add-icon.png.xhtml?ln=images'"/>
                </p:commandLink>
            </div>
        </h:form>

        <p:dialog header="#{i18n['door.add_dialog_header']}" widgetVar="addDialog" resizable="false" draggable="false"
                  modal="true" closable="false">
            <h:form id="addPanelForm">
                <div class="edit-panel">
                    <p:panelGrid id="addPanel">
                        <p:row>
                            <p:column colspan="2">
                                <p:selectOneRadio value="#{spacesModel.addDecision}" style="width: 100%;">
                                    <p:ajax update="addPanelForm" event="valueChange"/>
                                    <f:selectItem itemLabel="Grupe" itemValue="1"/>
                                    <f:selectItem itemLabel="Drzwi" itemValue="2"/>
                                </p:selectOneRadio>
                            </p:column>
                        </p:row>

                        <ui:param name="addingDoor" value="#{spacesModel.addDecision == 2}" />

                        <ui:fragment rendered="#{addingDoor}">
                            <p:row>
                                <p:column colspan="2"><p:messages for="newDoorName" showIcon="false"/></p:column>
                            </p:row>
                            <p:row>
                                <p:column><p:outputLabel for="newDoorName" value="#{i18n['door.door_name']}:"/></p:column>
                                <p:column><p:inputText id="newDoorName" value="#{spacesModel.newRoom.name}"
                                                       required="true">
                                    <f:validateLength maximum="36"/>
                                </p:inputText></p:column>
                            </p:row>
                            <p:row>
                                <p:column colspan="2"><p:messages for="newDoorLockId" showIcon="false"/></p:column>
                            </p:row>
                            <p:row>
                                <p:column><p:outputLabel for="newDoorLockId"
                                                         value="#{i18n['door.door_id']}:"/></p:column>
                                <p:column><p:inputText id="newDoorLockId" value="#{spacesModel.newRoom.lockId}"
                                                       required="true">
                                    <f:validateLength maximum="18"/>
                                </p:inputText></p:column>
                            </p:row>
                        </ui:fragment>
                        <ui:fragment rendered="#{not addingDoor}">
                            <p:row>
                                <p:column colspan="2"><p:messages for="newGroupName" showIcon="false"/></p:column>
                            </p:row>
                            <p:row>
                                <p:column><p:outputLabel for="newGroupName" value="#{i18n['door.door_name']}:"/></p:column>
                                <p:column><p:inputText id="newGroupName" value="#{spacesModel.newGroup.name}"
                                                       required="true">
                                    <f:validateLength maximum="36"/>
                                </p:inputText></p:column>
                            </p:row>
                        </ui:fragment>
                    </p:panelGrid>
                    <div class="dialog-buttons-panel">
                        <p:commandButton value="#{i18n['main.cancel']}"
                                         icon="fa fa-fw fa-close small-icon"
                                         process="@this"
                                         oncomplete="PF('addDialog').hide();" styleClass="dialog-cancel-button">
                            <p:resetInput target="addPanelForm"/>
                        </p:commandButton>

                        <ui:fragment rendered="#{addingDoor}">
                            <p:commandButton value="#{i18n['main.add']}" actionListener="#{spacesModel.addRoom()}"
                                             update="doorListForm addPanel breadCrumbForm"
                                             icon="fa fa-fw fa-plus small-icon" styleClass="dialog-add-button"/>
                        </ui:fragment>
                        <ui:fragment rendered="#{not addingDoor}">
                            <p:commandButton value="#{i18n['main.add']}" actionListener="#{spacesModel.addGroup()}"
                                             update="groupListForm addPanel breadCrumbForm"
                                             icon="fa fa-fw fa-plus small-icon" styleClass="dialog-add-button"/>
                        </ui:fragment>
                    </div>
                </div>
            </h:form>
        </p:dialog>

        <p:dialog header="#{i18n['edit_door.edit_dialog_header']}" widgetVar="editRoomDialog" resizable="false"
                  draggable="false" modal="true" closable="false">
            <h:form id="editRoomForm">
                <div class="edit-panel">
                    <p:panelGrid id="editRoomPanel">
                        <p:row>
                            <p:column colspan="2"><p:messages for="editRoomName" display="text"/></p:column>
                        </p:row>
                        <p:row>
                            <p:column><p:outputLabel for="editRoomName" value="#{i18n['door.door_name']}:"/></p:column>
                            <p:column><p:inputText id="editRoomName" value="#{spacesModel.copyOfEditingRoom.name}"
                                                   required="true">
                                <f:validateLength maximum="36"/>
                            </p:inputText></p:column>
                        </p:row>
                        <p:row>
                            <p:column colspan="2"><p:messages for="editRoomLockId" display="text"/></p:column>
                        </p:row>
                        <p:row>
                            <p:column><p:outputLabel for="editRoomLockId"
                                                     value="#{i18n['door.door_id']}:"/></p:column>
                            <p:column><p:inputText id="editRoomLockId" value="#{spacesModel.copyOfEditingRoom.lockId}"
                                                   required="true">
                                <f:validateLength maximum="18"/>
                            </p:inputText></p:column>
                        </p:row>
                    </p:panelGrid>

                    <div class="dialog-buttons-panel">
                        <p:commandButton value="#{i18n['main.cancel']}"
                                         icon="fa fa-fw fa-close small-icon"
                                         process="@this"
                                         oncomplete="PF('editRoomDialog').hide();" styleClass="dialog-cancel-button">
                            <p:resetInput target="editRoomForm"/>
                        </p:commandButton>
                        <p:commandButton value="#{i18n['main.save']}" actionListener="#{spacesModel.saveRoom()}"
                                         update="editRoomPanel groupListForm doorListForm"
                                         icon="fa fa-fw fa-check small-icon"/>
                    </div>
                </div>
            </h:form>
        </p:dialog>

        <p:dialog header="#{i18n['edit_door.edit_dialog_header']}" widgetVar="editGroupDialog" resizable="false"
                  draggable="false" modal="true" closable="false">
            <h:form id="editGroupForm">
                <div class="edit-panel">
                    <p:panelGrid id="editGroupPanel">
                        <p:row>
                            <p:column colspan="2"><p:messages for="editGroupName" display="text"/></p:column>
                        </p:row>
                        <p:row>
                            <p:column><p:outputLabel for="editGroupName" value="#{i18n['door.door_name']}:"/></p:column>
                            <p:column><p:inputText id="editGroupName" value="#{spacesModel.copyOfEditingGroup.name}"
                                                   required="true">
                                <f:validateLength maximum="36"/>
                            </p:inputText></p:column>
                        </p:row>
                    </p:panelGrid>

                    <div class="dialog-buttons-panel">
                        <p:commandButton value="#{i18n['main.cancel']}"
                                         icon="fa fa-fw fa-close small-icon"
                                         process="@this"
                                         oncomplete="PF('editGroupDialog').hide();" styleClass="dialog-cancel-button">
                            <p:resetInput target="editGroupForm"/>
                        </p:commandButton>
                        <p:commandButton value="#{i18n['main.save']}" actionListener="#{spacesModel.saveGroup()}"
                                         update="editGroupPanel groupListForm doorListForm"
                                         icon="fa fa-fw fa-check small-icon"/>
                    </div>
                </div>
            </h:form>
        </p:dialog>


    </ui:define>

</ui:composition>
</html>