<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html
        PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:f="http://xmlns.jcp.org/jsf/core">
<ui:composition template="/template/master-page.xhtml">

    <ui:define name="header-buttons">
        <p:commandButton value="#{i18n['main.doors']}" icon="fa fa-fw fa-unlock-alt small-icon"
                         styleClass="header-button" action="spaces"/>
        <p:commandButton value="#{i18n['main.users']}" icon="fa fa-fw fa-user small-icon"
                         styleClass="header-button" action="users" disabled="true"/>
        <span class="ui-separator">
                    <span class="ui-icon ui-icon-grip-dotted-vertical"/>
                </span>
        <p:commandButton value="#{i18n['main.roles']}" icon="fa fa-fw fa-key small-icon"
                         styleClass="header-button" action="roles"/>
    </ui:define>

    <ui:define name="content">
        <p:messages for="userMessages" showDetail="true" autoUpdate="true" closable="true"/>

        <h:form id="userListForm">
            <p:dataTable id="userList" value="#{userModel.users}" var="user"
                         emptyMessage="#{i18n['main.table_empty_message']}">
                <p:column headerText="#{i18n['user.card_id']}" filterBy="#{user.cardId}" style="width: 25%;">
                    <h:outputText value="#{user.cardId}" styleClass="table-column"/>
                </p:column>
                <p:column headerText="#{i18n['user.user_name']}" filterBy="#{user.name}">
                    <h:outputText value="#{user.name}" styleClass="table-column credentials-column"/>
                </p:column>
                <p:column headerText="#{i18n['user.role']}" filterBy="#{user.role.name}"
                          style="width: 20%; text-align: center">
                    <h:outputText value="#{user.role.name}" styleClass="table-column credentials-column"/>
                </p:column>
                <p:column styleClass="double-icon-column">
                    <p:commandLink actionListener="#{userModel.editUser(user)}"
                                   update="editPanelForm:editPanel">
                        <p:graphicImage library="images" name="edit-icon.png" styleClass="table-icon"
                                        onmouseover="document.getElementById(this.id).src='/javax.faces.resource/edit-icon-hover.png.xhtml?ln=images'"
                                        onmouseout="document.getElementById(this.id).src='/javax.faces.resource/edit-icon.png.xhtml?ln=images'"/>
                    </p:commandLink>
                    <p:commandLink actionListener="#{userModel.deleteUser(user)}" update="userList">
                        <p:graphicImage library="images" name="remove-icon.png" styleClass="table-icon"
                                        onmouseover="document.getElementById(this.id).src='/javax.faces.resource/remove-icon-hover.png.xhtml?ln=images'"
                                        onmouseout="document.getElementById(this.id).src='/javax.faces.resource/remove-icon.png.xhtml?ln=images'"/>
                        <p:confirm header="Potwierdzenie" message="#{i18n['user.remove_message']} #{user.name}? "
                                   icon="ui-icon-blank"/>
                    </p:commandLink>
                </p:column>
            </p:dataTable>

            <div class="add-panel">
                <p:commandLink onclick="PF('addDialog').show();" update="addPanelForm:addPanel">
                    <p:graphicImage styleClass="add-button" library="images" name="add-icon.png"
                                    onmouseover="document.getElementById(this.id).src='/javax.faces.resource/add-icon-hover.png.xhtml?ln=images'"
                                    onmouseout="document.getElementById(this.id).src='/javax.faces.resource/add-icon.png.xhtml?ln=images'"/>
                </p:commandLink>
            </div>
        </h:form>


        <p:dialog header="#{i18n['user.add_dialog_header']}" widgetVar="addDialog" resizable="false" draggable="false"
                  modal="true" closable="false">
            <h:form id="addPanelForm">
                <div class="edit-panel">
                    <p:panelGrid id="addPanel">
                        <p:row>
                            <p:column colspan="2"><p:messages for="newUserName" showIcon="false"/></p:column>
                        </p:row>
                        <p:row>
                            <p:column><p:outputLabel for="newUserName" value="#{i18n['user.user_name']}:"/></p:column>
                            <p:column><p:inputText id="newUserName" value="#{userModel.newUser.name}" required="true">
                                <f:validateLength maximum="36"/>
                            </p:inputText></p:column>
                        </p:row>
                        <p:row>
                            <p:column colspan="2"><p:messages for="newUserCardId" showIcon="false"/></p:column>
                        </p:row>
                        <p:row>
                            <p:column><p:outputLabel for="newUserCardId" value="#{i18n['user.card_id']}:"/></p:column>
                            <p:column><p:inputText id="newUserCardId" value="#{userModel.newUser.cardId}"
                                                   required="true">
                                <f:validateLength maximum="18"/>
                            </p:inputText></p:column>
                        </p:row>
                        <p:row>
                            <p:column colspan="2"><p:messages for="newUserRole" showIcon="false"/></p:column>
                        </p:row>
                        <p:row>
                            <p:column colspan="2">
                                <p:selectOneMenu id="newUserRole" value="#{userModel.newUser.role}"
                                                 style="width: 88%" converter="#{roleConverter}">
                                    <f:selectItem itemLabel="Uprawnienia" itemValue="#{null}" noSelectionOption="true"/>
                                    <f:selectItems value="#{userModel.allRoles}" var="role" itemLabel="#{role.name}"
                                                   itemValue="#{role}"/>
                                </p:selectOneMenu>
                            </p:column>
                        </p:row>
                    </p:panelGrid>

                    <div class="dialog-buttons-panel">
                        <p:commandButton value="#{i18n['main.cancel']}"
                                         icon="fa fa-fw fa-close small-icon"
                                         process="@this"
                                         oncomplete="PF('addDialog').hide();" styleClass="dialog-cancel-button">
                            <p:resetInput target="addPanelForm"/>
                        </p:commandButton>
                        <p:commandButton value="#{i18n['main.add']}" actionListener="#{userModel.addUser()}"
                                         update="userListForm:userList addPanel"
                                         icon="fa fa-fw fa-plus small-icon" styleClass="dialog-add-button"/>
                    </div>
                </div>
            </h:form>
        </p:dialog>

        <p:dialog header="#{i18n['edit_user.edit_dialog_header']}" widgetVar="editDialog" resizable="false"
                  draggable="false" modal="true" closable="false">
            <h:form id="editPanelForm">
                <div class="edit-panel">
                    <p:panelGrid id="editPanel">
                        <p:row>
                            <p:column colspan="2"><p:messages for="editUserName" display="text"/></p:column>
                        </p:row>
                        <p:row>
                            <p:column><p:outputLabel for="editUserName" value="#{i18n['user.user_name']}:"/></p:column>
                            <p:column><p:inputText id="editUserName" value="#{userModel.copyOfEditingUser.name}"
                                                   required="true">
                                <f:validateLength maximum="36"/>
                            </p:inputText></p:column>
                        </p:row>
                        <p:row>
                            <p:column colspan="2"><p:messages for="editUserCardId" display="text"/></p:column>
                        </p:row>
                        <p:row>
                            <p:column><p:outputLabel for="editUserCardId" value="#{i18n['user.card_id']}:"/></p:column>
                            <p:column><p:inputText id="editUserCardId" value="#{userModel.copyOfEditingUser.cardId}"
                                                   required="true">
                                <f:validateLength maximum="18"/>
                            </p:inputText></p:column>
                        </p:row>
                        <p:row>
                            <p:column colspan="2"><p:messages for="editUserRole" showIcon="false"/></p:column>
                        </p:row>
                        <p:row>
                            <p:column colspan="2">
                                <p:selectOneMenu id="editUserRole" value="#{userModel.copyOfEditingUser.role}"
                                                 style="width: 88%" converter="#{roleConverter}">
                                    <f:selectItem itemLabel="Uprawnienia" itemValue="#{null}" noSelectionOption="true"/>
                                    <f:selectItems value="#{userModel.allRoles}" var="role" itemLabel="#{role.name}"
                                                   itemValue="#{role}"/>
                                </p:selectOneMenu>
                            </p:column>
                        </p:row>
                    </p:panelGrid>

                    <div class="dialog-buttons-panel">
                        <p:commandButton value="#{i18n['main.cancel']}"
                                         icon="fa fa-fw fa-close small-icon"
                                         process="@this"
                                         oncomplete="PF('editDialog').hide();" styleClass="dialog-cancel-button">
                            <p:resetInput target="editPanelForm"/>
                        </p:commandButton>
                        <p:commandButton value="#{i18n['main.save']}" actionListener="#{userModel.saveUser()}"
                                         update="userListForm:userList editPanel"
                                         icon="fa fa-fw fa-check small-icon"/>
                    </div>
                </div>
            </h:form>
        </p:dialog>

    </ui:define>

</ui:composition>
</html>